@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
}

.header__title {
  font-family: Shrikhand;
  font-size: 2.5em;
}

* {
  font-family: Roboto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.localisation__element {
  font-size: 1em;
}

.introduction h2 {
  font-size: 1em;
}
.introduction p {
  font-size: 1.2em;
}

.fonctionnement__title {
  font-size: 1.4em;
}
.fonctionnement__content {
  font-size: 1.2em;
}
.fonctionnement .number {
  font-size: 0.8em;
}

.restaurant__description {
  font-size: 1em;
}
.restaurant .fa-heart {
  font-size: 1em;
}
.restaurant .new {
  font-size: 0.8em;
}

.footer__title {
  font-size: 1em;
}
.footer a {
  font-size: 1.1em;
}
.footer__li i {
  font-size: 1em;
}

.menu__title {
  font-size: 1.2em;
}
.menu__title__element {
  font-family: Shrikhand;
}
.menu__part__title {
  font-size: 1em;
  font-weight: normal;
}
.menu .menu__card {
  font-size: 1.1em;
}

.btn_principal {
  font-size: 1em;
}

.header--menu a {
  font-size: 1em;
}

.lower-text {
  font-size: 0.8em;
}

.upper {
  font-size: 1em;
  font-weight: bold;
}

.price {
  font-size: 0.9em;
  font-weight: bold;
}

.header {
  width: 100%;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);
}
.header__title {
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
}

.test {
  justify-content: space-between;
  display: flex;
}

.header--menu {
  z-index: 2;
  background-color: white;
  position: fixed;
}
.header--menu a {
  position: absolute;
  top: 25px;
  padding-left: 10px;
  display: block;
  color: black;
  font-size: 1em;
}

.fonctionnement {
  padding-top: 40px;
  padding-bottom: 40px;
}
.fonctionnement__title {
  margin-left: 20px;
}
.fonctionnement__card {
  margin-top: 20px;
  margin-left: 7%;
  width: 90%;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  background-color: #f7f7f7;
  height: 80px;
}
.fonctionnement__content {
  width: 315px;
  font-weight: bold;
  position: relative;
  right: 10px;
  height: 100%;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.fonctionnement__content .number {
  font-weight: normal;
  color: white;
  padding: 5px 10px 5px 10px;
  border-radius: 100%;
  background-color: #9356dc;
}

.introduction {
  width: 100%;
  background-color: #f7f7f7;
  height: 335px;
}
.introduction__element {
  margin: auto;
  width: 95%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}

.localisation {
  background-color: rgba(0, 0, 0, 0.08);
  height: 60px;
  width: 100%;
}
.localisation__element {
  margin: auto;
  width: 180px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.restaurant {
  padding-bottom: 70px;
  background-color: #f7f7f7;
}
.restaurant__title {
  padding-left: 20px;
  padding-top: 50px;
}
.restaurant__card {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  margin: auto;
  margin-top: 30px;
  width: 350px;
  height: 270px;
  background-color: white;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
.restaurant__image {
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  height: 190px;
  object-fit: cover;
  object-position: center;
}
.restaurant__description {
  padding: 10px 20px;
  color: black;
  display: flex;
  justify-content: space-between;
}
.restaurant__description div :nth-child(1) {
  font-weight: bold;
}
.restaurant .new {
  display: inline-block;
  width: fit-content;
  border-radius: 2px;
  padding: 5px 10px;
  background-color: #99e2d0;
  color: #008563;
  position: relative;
  bottom: 240px;
  left: 260px;
}

.footer {
  height: 200px;
  padding-top: 30px;
  padding-left: 30px;
  background-color: #363636;
}
.footer__title {
  font-family: Shrikhand;
  color: white;
  margin-bottom: 20px;
}
.footer a {
  margin-bottom: 10px;
  display: block;
  color: white;
}
.footer .fa-utensils {
  padding-right: 10px;
}
.footer .fa-hands-helping {
  padding-right: 5px;
}

.menu {
  position: relative;
  margin-top: -65px;
  border-radius: 40px 40px 0 0;
  background-color: #f7f7f7;
}
.menu__title {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 30px 20px 0px 20px;
}
.menu__part {
  margin-bottom: 40px;
  padding-left: 5%;
  margin-top: 50px;
}
.menu__part__title {
  border-bottom: 3px solid #99e2d0;
  width: 50px;
}
.menu__part .menu__card {
  margin-top: 20px;
  margin-bottom: 20px;
  flex-direction: row-reverse;
  justify-content: space-between;
  display: flex;
  width: 95%;
  height: 70px;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 18px;
}
.menu__part .menu__card__description {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.menu__part .menu__card .price {
  padding-bottom: 11px;
  align-self: flex-end;
  padding-right: 5px;
}
.menu .menu__order {
  height: 150px;
}
.menu .menu__order .btn_principal {
  display: block;
  width: 200px;
  height: 52px;
  margin: auto;
}

.description {
  padding-top: 10px;
  width: 93%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 10px;
}

input[type=checkbox] {
  opacity: 0;
}

input[type=checkbox]:checked + .slide_check {
  right: 0px;
  transition: right 0.5s;
}
input[type=checkbox]:checked + .slide_check .fa-check-circle {
  transform: rotate(360deg);
  transition-duration: 0.8s;
}

.fa-check-circle {
  font-size: 1.4em;
  padding: 24px 19px;
  color: white;
  transform: rotate(0deg);
}

input[type=checkbox]:not(:checked) + .slide_check {
  transition: right 0.8s;
}

.slide_check {
  display: flex;
  position: absolute;
  right: -70px;
  background: #99e2d0;
  height: 100%;
  width: 70px;
  color: green;
}

.lower-text {
  padding-right: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
}

input[type=checkbox]:checked ~ .description .upper {
  max-width: 70%;
  transition: max-width 0.3s;
}

input[type=checkbox]:not(:checked) ~ .description .upper {
  max-width: 100%;
  transition: max-width 0.8s;
}

input[type=checkbox]:checked ~ .description .lower-text {
  max-width: 60%;
  transition: max-width 0.3s;
}

input[type=checkbox]:not(:checked) ~ .description .lower-text {
  max-width: 100%;
  transition: max-width 0.8s;
}

input[type=checkbox]:checked ~ .description .lower .price {
  transform: translateX(-60px);
  transition: transform 0.5s;
}

input[type=checkbox]:not(:checked) ~ .description .lower .price {
  transform: translateX(0px);
  transition: transform 0.8s;
}

.lower {
  display: flex;
  justify-content: space-between;
}

.upper {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
}

.btn_principal {
  width: fit-content;
  height: 60px;
  align-self: center;
  padding: 15px;
  border-radius: 40px;
  background: linear-gradient(#ff79da, #9356dc);
  border: solid 1px #ff79da;
  color: white;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
.btn_principal:hover {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
  background: linear-gradient(#ff93e1, #a16be0);
}

/*# sourceMappingURL=style.css.map */
