input[type="checkbox"] {
  opacity: 0;
}

@keyframes slideup {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes display {
  from {
    opacity: 1;
    pointer-events: auto;
  }

  to {
    opacity: 0;
    z-index: -1;
    pointer-events: none;
  }
}
.menu__part {
  li:nth-child(1) {
    animation-name: slideup;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
  }
  li:nth-child(2) {
    animation-name: slideup;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  li:nth-child(3) {
    animation-name: slideup;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
  }
  li:nth-child(4) {
    animation-name: slideup;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }
  li:nth-child(5) {
    animation-name: slideup;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
  }
}

.menu {
  .menu__part__title {
    animation-name: slideup;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
}
.menu__order {
  animation-name: slideup;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}
