.menu {
  position: relative;
  margin-top: -65px;
  border-radius: 40px 40px 0 0;
  @include background-color;
  &__title {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 30px 20px 0px 20px;
    .fa-heart {
      position: absolute;
      width: 32px;
      height: 30px;
      fill: url(#svg__fill__color);
      stroke: black;
      stroke-width: 35px;
      z-index: 1;
      transition: transform 0.3s;
      transform-origin: center;

      &.empty {
        fill: white;
      }
      &.full {
        stroke-width: 0;
        transform: scale(0);
      }
    }

    .heart-icon {
      display: block;
      width: 42px;
      height: 40px;
      &:active .full {
        transform: scale(1);
      }
    }
  }

  &__part {
    margin-bottom: 40px;
    padding-left: 5%;
    margin-top: 50px;
    &__title {
      border-bottom: 3px solid $tertiary-color;
      width: 50px;
    }
    & .menu__card {
      margin-top: 20px;
      margin-bottom: 20px;
      justify-content: space-between;
      display: flex;

      @include box;
      &__description {
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
      }
      & .price {
        padding-bottom: 11px;
        align-self: flex-end;
        padding-right: 5px;
      }
    }
  }
  & .menu__order {
    height: 150px;
    & .btn_principal {
      display: block;
      width: 200px;
      height: 52px;
      margin: auto;
    }
  }
}
@include desktop {
  .menu {
    margin-top: -315px;
    &__title__element {
      padding-left: 30px;
      font-size: 2.5em;
      margin: auto;
    }

    &__part {
      padding-left: 0;
      width: 100%;
      &__container {
        display: flex;
      }
      &__title {
        width: fit-content;
        margin: auto;
      }
    }
    .menu__card {
      margin: 20px auto;
      width: 400px;
    }
  }
}
@include phone-tablet {
  .menu {
    &__title__element {
      padding-left: 30px;
      font-size: 2.5em;
      margin: auto;
    }

    &__part {
      padding-left: 0;
      width: 100%;
      &__container {
        display: flex;
      }
      &__title {
        width: fit-content;
        margin: auto;
      }
    }
    .menu__card {
      margin: 20px auto;
      width: 400px;
    }
  }
}

/**-------------------------------------**/
.description {
  padding-top: 10px;
  width: 93%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 10px;
}
input[type="checkbox"] {
  opacity: 0;
}

.menu__card:active {
  & .fa-check-circle {
    transform: rotate(360deg);
    transition-duration: 0.8s;
  }
  & .slide_check {
    right: 0px;
    transition: right 0.5s;
  }
}
.menu__card:not(:active) .slide_check {
  right: -70px;
  transition: right 0.5s;
}

.fa-check-circle {
  font-size: 1.4em;
  padding: 24px 19px;
  color: white;
  transform: rotate(0deg);
}

.slide_check {
  display: flex;
  position: absolute;
  right: -70px;
  background: $tertiary-color;
  height: 100%;
  width: 70px;
  color: green;
}

.lower-text {
  width: 100%;
  padding-right: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
}
.menu__card:active .upper {
  width: 70%;
  transition: width 0.5s;
}
.menu_card:not(:active) .upper {
  width: 100%;
  transition: width 0.8s;
}
.menu__card:active .lower-text {
  width: 60%;
  transition: width;
  transition-duration: 0.5s;
}
.menu__card:not(:active) .lower-text {
  width: 100%;
  transition: width;
  transition-duration: 0.8s;
}
.menu__card:active .price {
  transform: translateX(-75px);
  transition: transform 0.5s;
}
.menu__card:not(:active) .price {
  transform: translateX(0px);
  transition: transform 0.5s;
}
.lower {
  display: flex;
  justify-content: space-between;
}
.upper {
  width: 100%;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
}
@include xs-phone {
  .menu__card:active .lower-text {
    width: 50%;
    transition: width;
    transition-duration: 0.5s;
  }
}
