.restaurant {
  padding-bottom: 70px;
  @include background-color;
  &__title {
    padding-left: 20px;
    padding-top: 50px;
  }
  &__card {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    margin: auto;
    margin-top: 30px;
    width: 350px;
    height: 270px;
    background-color: white;
    @include box-shadow;
    .heart-position {
      position: absolute;
      top: 215px;
      left: 295px;
    }
    .new {
      display: inline-block;
      width: fit-content;
      border-radius: 2px;
      padding: 5px 10px;
      background-color: $tertiary-color;
      color: #008563;
      position: relative;
      bottom: 240px;
      left: 260px;
    }
  }
  &__image {
    @include border-radius;
    width: 100%;
    height: 190px;
    object-fit: cover;
    object-position: center;
  }
  &__description {
    padding: 10px 20px;
    color: black;
    display: flex;
    justify-content: space-between;
    & div :nth-child(1) {
      font-weight: bold;
    }
  }
}
@include desktop {
  .restaurant {
    margin-top: 5px;
    &__title {
      margin-left: 0px;
      text-align: center;
      font-family: Shrikhand;
      font-size: 2.5em;
    }
    &__container {
      display: flex;
      flex-flow: wrap;
      width: 768px;
      margin: auto;
    }
  }
}
@include sm-phone {
  .restaurant {
    &__card {
      width: 90%;
      .heart-position {
        left: 245px;
      }
      .new {
        left: 210px;
        top: -250px;
      }
    }
  }
}
@include xs-phone {
  .heart-position {
    left: 220px !important;
  }
  .new {
    left: 185px !important;
  }
}
