.fonctionnement {
  padding-top: 40px;
  padding-bottom: 40px;
  &__title {
    margin-left: 20px;
  }
  &__card {
    margin: 20px auto;
    margin-left: 7%;
    width: 90%;
    @include box-shadow;
    border-radius: 20px;
    @include background-color;
    height: 80px;
  }
  &__content {
    max-width: 315px;
    min-width: 260px;
    font-weight: bold;
    position: relative;
    right: 10px;
    height: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    & .number {
      font-weight: normal;
      color: white;
      padding: 5px 10px 5px 10px;
      border-radius: 100%;
      background-color: $primary-color;
    }
  }
}
@include desktop {
  .fonctionnement {
    margin-top: 5px;
    box-shadow: 0px 0px 7px black;
    &__container {
      display: flex;
      justify-content: space-evenly;
      padding: 20px;
      flex-flow: wrap;
    }
    &__title {
      margin-left: 0px;
      text-align: center;
      font-family: Shrikhand;
      font-size: 2.5em;
    }
    &__card {
      margin-left: 10px;
      margin-right: 10px;
      width: 350px;
    }
  }
}
