.background--image--four {
  @include background-image("./images/restaurants/sens.jpg");
  background-position: 0 -50px;
}
@include desktop {
  .background--image--four {
    background-size: cover;
    height: 700px;
    background-position: center -400px;
  }
}
