.background--image--four {
  @include background-image("./images/restaurants/sens.jpg");
  background-position: center -263px;
  background-size: cover;
}
@include desktop {
  .background--image--four {
    height: 700px;
    background-position: center -345px;
  }
}
